repos:

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.6.4
  hooks:
      # Update the uv lockfile
  - id: uv-lock
        # Install all packages
  - id: uv-sync
    args: [--locked, --all-packages]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files
  - id: check-json
  - id: check-toml
  - id: check-xml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: no-commit-to-branch
    args: [--branch, main]
  - id: pretty-format-json
    args: [--autofix, --indent, '2']
  - id: trailing-whitespace

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']

- repo: https://gitlab.com/vojko.pribudic.foss/pre-commit-update
  rev: v0.6.1
  hooks:
  - id: pre-commit-update

- repo: https://github.com/koalaman/shellcheck-precommit
  rev: v0.10.0
  hooks:
  - id: shellcheck

- repo: https://github.com/rhysd/actionlint
  rev: v1.7.7
  hooks:
  - id: actionlint

# - repo: https://github.com/woodruffw/zizmor-pre-commit
#   rev: v1.4.1
#   hooks:
#   - id: zizmor
#     args: [--config, .github/zizmor.yml]

- repo: local
  hooks:
  - id: lint
    name: Lint Python code and fix violations
    stages: [pre-commit, pre-push]
    language: system
    entry: bash scripts/lint.sh
    types: [python]

  - id: format
    name: Format Python code
    stages: [pre-commit, pre-push]
    language: system
    entry: bash scripts/format.sh
    types: [python]

  - id: type-check
    name: Type check Python code
    stages: [pre-commit, pre-push]
    language: system
    entry: bash scripts/type-check.sh
    types: [python]
