name: Semantic PR Title

on:
  pull_request:
    types:
    - opened
    - edited

permissions:
  pull-requests: read
  statuses: write

jobs:
  main:
    name: Validate semantic PR title
    runs-on: ubuntu-latest
    steps:
    - uses: amannn/action-semantic-pull-request@v6
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
